/* ===== Base ===== */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
    text-align: center;
}

/* ===== Header ===== */

header {
    background: #003366;
    color: white;
    padding: 1rem;
}

h1 {
    margin: 0;
}

/* ===== Menu ===== */

.menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu a {
    color: white;
    text-decoration: none;
}


/* ===== Gallery ===== */

.gallery {
    max-width: 1000px;
    margin: 40px auto;
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
    padding: 1rem;
}

figure {
    margin: 0;
}

figure img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    padding: 6px;
    background: white;

    box-shadow: 5px 5px 15px rgba(0,0,0,.4);
    border-radius: 6px;

    cursor: pointer;
}


/* ===== Tablet ===== */

@media (min-width: 700px) {

    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    .menu {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
    }
}


/* ===== Desktop ===== */

@media (min-width: 1000px) {

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/* ===== Modal ===== */

dialog {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(0,0,0,.8);
}

dialog img {
    width: 90%;
    max-width: 800px;
    display: block;
    margin: 12vh auto;
}

.close-viewer {
    position: absolute;
    top: 20px;
    right: 20px;

    font-size: 24px;
    padding: 6px 12px;

    cursor: pointer;
}


/* ===== Footer ===== */

footer {
    background: #222;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}
