/* ===== Base (Light Mode Default) ===== */

body {
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    color: #333;

    transition: background-color 0.3s, color 0.3s;
}

.theme-select {
    margin-bottom: 25px;
}

.content-box {
    max-width: 700px;
    padding: 60px;
    border: 1px solid #ddd;
    background-color: white;
    transition: background-color 0.3s;
}

/* Header */

header {
    text-align: center;
}

h1 {
    letter-spacing: 4px;
    font-weight: normal;
}

h2 {
    color: #3b71b9;
    letter-spacing: 3px;
    font-weight: normal;
}

hr {
    border: 0;
    border-top: 1px solid #add8e6;
}

/* Content */

p {
    margin: 20px 0;
}

.italic {
    font-style: italic;
}

ol li {
    margin-bottom: 12px;
}

/* Footer */

footer {
    text-align: center;
    margin-top: 30px;
}

footer img {
    width: 150px;
}


/* ===== DARK MODE ===== */

body.dark {
    background-color: #121212;
    color: #f1f1f1;
}

body.dark .content-box {
    background-color: #1e1e1e;
    border-color: #444;
}

body.dark h2 {
    color: #9fc4ff;
}

body.dark hr {
    border-top: 1px solid #555;
}
